#  Make script bin folder
bin/

#  Local .terraform directories
**/.terraform/*
**/**/.terraform/*

# tfenv files
**/.terraform-version

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
*.terraform.lock.hcl

# Intellij IDEA
*.iml
.idea

# Ignore Mac .DS_Store files
**/.DS_Store

# Ignored vscode files
.vscode/

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore private keys
*.private
**/*.private

# Ignore secret.tfvars files
**/terraform.auto.tfvars
**/secret.auto.tfvars

# Ignore CLI configuration files
.terraformrc
terraform.rc
.terraform.*

# Crash log files
crash.log
crash.*.log

# Local .terragrunt-cache dirs
**/.terragrunt-cache

